*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body{
	background-color: black ;
}

h1{
	font-family: Arial;
	text-align: center;
}

/*========================================*/
header, .conteiner{
	background-color: #fff;
	width: 40%;
	margin: auto;	
	border: solid;
	border-radius: 30px;	
	padding: 20px;
}
.conteiner{
	padding-bottom: 10px;	/* coloquei para arrumar o margin-bottom: 10px; no .blocos*/
}

/*========================================*/
.bloco{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	
}

.blocos{
	color: #fff;
	background-color: #696969;
	width: 18%;	
	height: auto;
	margin-bottom: 10px; /* coloquei pois os blocos ainda ficavam grudados*/	
	border: 2px solid #000000;
	padding: 3px;
	transition: 0.5s;
}

.blocos:hover{
	opacity: 0.5;
	transition: 0.5s;
}

/*===============================================================================*/
/*                               MEDIA QUERIE                                    */
/*===============================================================================*/

@media only screen and (max-width: 768px){
	header, .conteiner{
		width: 80%;
	}
	.blocos{
		width: 45%;
	}
}

@media only screen and (max-width: 500px){
	header, .conteiner{
		width: 95%;
	}
	.bloco{
		flex-direction: column;
	}
	.blocos{
		width: 100%;
	}
}