/*
margin: direita, esquerda;
margin: superior, direita e esquerda, inferior;
margin: superior, direita, inferior  esquerda;
*/

body{
	background-color: black ;
}

h1{
	font-family: Arial;
	text-align: center;
}

/*========================================*/
.header, .conteiner{
	margin: auto;
	width: 30%;
	border: solid;
	border-radius: 30px;
	background-color: white;
	padding: 20px;
}
.conteiner{
	padding-bottom: 10px;	/* coloquei para arrumar o margin-bottom: 10px; no .blocos*/
}

/*========================================*/
.bloco{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	
}

.blocos{
	width: 80px;
	border: solid ;
	margin-bottom: 10px; /* coloquei pois os blocos ainda ficavam grudados*/
}
